<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Doyki.Properties.Settings.Uchot_udoevConnectionString1"
            connectionString="Data Source=&quot;109.195.115.165, 1433&quot;;Initial Catalog=Uchot_udoev;Persist Security Info=True;User ID=elita;Password=KQxFl7F0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>